name: Deploy to Cloudflare Pages

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Install Wrangler
              run: npm install -g wrangler

            - name: Deploy to Cloudflare Pages
              env:
                  CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
                  CLOUDFLARE_ACCOUNT_ID: 9cb9606c45f1613111571c109665de65
              run: |
                  wrangler pages deploy . --project-name tiny-cell-dd07 --branch main
