name: Deploy to Cloudflare Pages

on:
    push:
        branches:
            - main # or your production branch

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Install wrangler CLI
              run: npm install -g wrangler

            - name: Publish to Cloudflare Pages
              env:
                  CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
                  CF_ACCOUNT_ID: 9cb9606c45f1613111571c109665de65
                  CF_PROJECT_NAME: tiny-cell-dd07
              run: |
                  wrangler pages publish . --project-name $CF_PROJECT_NAME --branch main
